main.m-auto {
    background-color: rgba(255, 255, 255, 0.6);
}

/*h1 {
    color: #CCC;
}*/

/*a {
    color: rgb(0, 155, 216);
}*/

/*p {
    color: #CCC;
}*/

/* Basic Colors for pages, where the user is not logged in */
body.visitor {
    background-color: #f5f5f5;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.visitor h1 a {
    color: #000;
}

/*.visitor input {
    background-color: #111;
    border: 1px solid #151515;
    color: #CCC;
    filter: none!important;
}*/

/*.visitor input:active,
.visitor input:focus {
    background-color: #000;
    border: 1px solid #050505;
    color: #CCC;
}*/

/*.visitor form label {
    color: #AAA;
}*/