.dlh-site-heading {
    display: flex;
    margin: 2rem 0;
}

.dlh-site-heading h1 {
    font-size: 1.8rem;
    width: auto;
}

.dlh-site-heading a {
    margin-left: 1rem;
    width: auto;
}

.dlh-site-heading h1 .dlh-fa {
    margin-right: 1rem;
}

.dlh-pagination {
    text-align: right;
}

.dlh-pagination input.form-control {
    display: inline-block;
    max-width: 4rem;
    text-align: center;
    width: auto;
}

.view-table-listing.project-table .project-name {
    width: 60%;
}

.view-table-listing .is-sortable a {
    text-decoration: none;
}