.dlh-site-heading {
    display: flex;
    margin: 2rem 0;
}

.dlh-site-heading h1 {
    width: auto;
    font-size: 1.8rem;
}

.dlh-site-heading a {
    width: auto;
    margin-left: 1rem;
}

.dlh-site-heading h1 .dlh-fa {
    margin-right: 1rem;
}