.dlh-site-heading {
    display: flex;
    margin: 2rem 0;
}

.dlh-site-heading h1 {
    font-size: 1.8rem;
    width: auto;
}

.dlh-site-heading a {
    margin-left: 1rem;
    width: auto;
}

.dlh-site-heading h1 .dlh-fa {
    margin-right: 1rem;
}

.dlh-navigation {
    text-align: right;
}

.dlh-navigation input.form-control {
    display: inline-block;
    margin-left: 1rem;
    width: auto;
    max-width: 100px;
}